<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pz_area_chara01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,852},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>pz_area_chara01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1},{510,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,135}}</string>
                <key>sourceSize</key>
                <string>{510,135}</string>
            </dict>
            <key>pz_area_chara01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1372},{371,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,47}}</string>
                <key>sourceSize</key>
                <string>{371,47}</string>
            </dict>
            <key>pz_area_chara01_dei.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1881},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>pz_area_chara01_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,513},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>pz_area_chara01_skill02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,463},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pz_area_hart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,899},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>pz_area_hart01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1623},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>pz_area_hart01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1372},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>pz_area_hart01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1957},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>pz_area_hart01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2002},{106,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,22}}</string>
                <key>sourceSize</key>
                <string>{106,22}</string>
            </dict>
            <key>pz_box_dialog02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1745},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>pz_btn_glass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1411},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pz_btn_treasure01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1763},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>pz_ef_da_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1421},{246,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,209}}</string>
                <key>sourceSize</key>
                <string>{246,209}</string>
            </dict>
            <key>pz_ef_da_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1825},{246,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,209}}</string>
                <key>sourceSize</key>
                <string>{246,209}</string>
            </dict>
            <key>pz_ef_damage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,405},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_ef_damage03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,607},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_ef_damage04.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,203},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_ef_damage05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,650},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>pz_ef_die01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1411},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1283},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1155},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1027},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1245},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1117},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,989},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1865},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1635},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1507},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1379},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1880},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1635},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1507},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1379},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_die01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,899},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pz_ef_eff02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1623},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>pz_ef_eff02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1875},{188,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,125}}</string>
                <key>sourceSize</key>
                <string>{188,125}</string>
            </dict>
            <key>pz_ef_eff02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1624},{188,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,125}}</string>
                <key>sourceSize</key>
                <string>{188,125}</string>
            </dict>
            <key>pz_ef_eff02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1434},{188,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,125}}</string>
                <key>sourceSize</key>
                <string>{188,125}</string>
            </dict>
            <key>pz_ef_eff02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1523},{269,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,320}}</string>
                <key>sourceSize</key>
                <string>{269,320}</string>
            </dict>
            <key>pz_ef_eff04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,809},{623,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,90}}</string>
                <key>sourceSize</key>
                <string>{623,90}</string>
            </dict>
            <key>pz_ef_eff04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,884},{493,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,11}}</string>
                <key>sourceSize</key>
                <string>{493,11}</string>
            </dict>
            <key>pz_ef_fever01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1166},{373,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,355}}</string>
                <key>sourceSize</key>
                <string>{373,355}</string>
            </dict>
            <key>pz_ef_fever01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,809},{373,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,355}}</string>
                <key>sourceSize</key>
                <string>{373,355}</string>
            </dict>
            <key>pz_ef_fevergauge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1250},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_ef_fevergauge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1128},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_ef_fevergauge03.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1006},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_ef_fevergauge04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1539},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pz_ef_fevergauge05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1539},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pz_ef_fevergauge06.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,884},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_ef_meter01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,757},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pz_ef_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1249},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pz_ef_smoke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1763},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pz_ef_smoke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1119},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pz_ef_smoke_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,852},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pz_ef_smoke_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,989},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pz_eff_select01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1421},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>pz_eff_select02.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1638},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>pz_eff_select03.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1632},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>pz_gauge_frame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,405},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_gauge_frame01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,615},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pz_gauge_frame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,243},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>pz_gauge_frame03.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1434},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>pz_gauge_frame04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1},{32,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,240}}</string>
                <key>sourceSize</key>
                <string>{32,240}</string>
            </dict>
            <key>pz_gauge_frame05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1128},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_gauge_meter01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_gauge_meter02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_gauge_meter05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1981},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1971},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1971},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1957},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1957},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1919},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1867},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1919},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1867},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1919},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1867},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1495},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter05_skill02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,607},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>pz_gauge_meter06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1763},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>pz_gauge_meter07.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,762},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_gauge_meter08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1},{460,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,120}}</string>
                <key>sourceSize</key>
                <string>{460,120}</string>
            </dict>
            <key>pz_icon_glass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,762},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>pz_icon_hart01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,363},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>pz_icon_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1745},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pz_image_parts01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{600,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,200}}</string>
                <key>sourceSize</key>
                <string>{600,200}</string>
            </dict>
            <key>pz_image_parts01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1997},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>pz_img_line01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,743},{509,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,17}}</string>
                <key>sourceSize</key>
                <string>{509,17}</string>
            </dict>
            <key>pz_shadow_s01.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1881},{200,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,74}}</string>
                <key>sourceSize</key>
                <string>{200,74}</string>
            </dict>
            <key>pz_skill_text_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1523},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pz_skill_text_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1845},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>pz_ttl_name01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1997},{200,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,35}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>pz_ttl_stage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,809},{609,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,55}}</string>
                <key>sourceSize</key>
                <string>{609,55}</string>
            </dict>
            <key>pz_ttl_status02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,675},{538,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,66}}</string>
                <key>sourceSize</key>
                <string>{538,66}</string>
            </dict>
            <key>pz_ttl_status02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,809},{538,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,66}}</string>
                <key>sourceSize</key>
                <string>{538,66}</string>
            </dict>
            <key>pz_ttl_status02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,607},{538,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,66}}</string>
                <key>sourceSize</key>
                <string>{538,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>puzzleAtlas.png</string>
            <key>size</key>
            <string>{1498,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aeaf58c08d0e2433de0b7b8f753df33$</string>
            <key>textureFileName</key>
            <string>puzzleAtlas.png</string>
        </dict>
    </dict>
</plist>
